# Environment variables
.env
.env.*

# Virtual environments
env/
venv/


# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd


# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Ignore generated CDR project output folders
data/**
data/cdr_files/**