uvicorn
dotenv==0.9.9
pip==25.0
python-dotenv==1.0.1
requests==2.32.3
azure-core==1.32.0
azure-cosmos==4.9.0
fastapi==0.115.8
pandas
scikit_learn
azure-storage-blob
python-multipart
cryptography
python-jose