uvicorn
dotenv==0.9.9
pip==25.0
python-dotenv==1.0.1
requests==2.32.3
azure-core==1.32.0
azure-cosmos==4.9.0
fastapi==0.115.8
pandas
scikit_learn
azure-storage-blob
python-multipart
cryptography
python-jose
azure-storage-queue

langchain-azure-ai
langchain-openai
pypdf
pymupdf
langchain-community
langchain-text-splitters
langchain-core
azure-cosmos
azure-search-documents
azure-identity
azure-core
azure-common
azure-ai-documentintelligence
extract-msg
openpyxl
xlrd
pandas
python-docx
docx2pdf
