/* MAIN LAYOUT */
.report-container {
  width: 100%;

  display: flex;
  overflow: hidden;
}

/* LEFT PANEL */
.left-panel {
  flex: 0 0 75%;
  padding: 16px;
}

.left-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.left-content {
  padding: 0 !important;
  margin-top: 0 !important;

  height: auto;
  overflow: visible;
}

/* HEADER BAR */
.report-header {
  width: 100%;
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.header-image {
  width: 130px;
  height: auto;
  object-fit: contain;
}

.header-text {
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  margin-right: 40px;
  flex-grow: 1;
  text-align: right;
}

/* TITLE BLOCK */
.report-title-container {
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  text-align: center;
  padding-bottom: 1%;
}

.report-title {
  font-weight: 700;
}

/* RIGHT SIDE PANEL */
.bookmark-panel {
  flex: 0 0 19%;
  height: 700px;
  background: #ffffff;
  border: 1px solid #ddd;
  padding: 16px;
  margin-right: 16px;
  margin-top: 16px;
  overflow-y: auto;
  border-radius: 6px;
}

.bookmark-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.bookmark-title {
  font-weight: bold;
}

.bookmark-field {
  font-weight: bold;
}

.bookmark-value {
  margin-top: 8px;
  white-space: pre-wrap;
}

/* ACTION PANEL */
.right-panel {
  flex: 0 0 25%;
  height: 100%;
  padding-right: 16px;
  padding-top: 16px;
  box-sizing: border-box;
  overflow-y: auto;
}

.action-card {
  margin-bottom: 16px;
  margin-right: 12px;
}

.action-title {
  font-weight: bold;
  margin-bottom: 16px;
}

.button-stack {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* COMMON BUTTON STYLE */
.action-button {
  justify-content: flex-start !important;
  text-align: left;
}

.icon-img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  object-fit: contain;
}

.icon-white {
  filter: brightness(0) invert(1);
}

.generate-title {
  font-weight: 600;
  padding: 8px 0;
}

.generate-row {
  display: flex;
  gap: 16px;
}

.generate-btn {
  flex: 1;
}

/* CONFIDENCE PANEL */
.confidence-card {
  margin-bottom: 16px;
  margin-right: 12px;
}

.confidence-header {
  font-weight: bold;
  margin-bottom: 8px;
}

.confidence-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.confidence-bar {
  height: 8px;
  background: #eee;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 24px;
}

.confidence-fill {
  height: 100%;
  background: #ffd700;
}

.confidence-row {
  margin-bottom: 8px;
}

.confidence-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.green {
  background: green;
}

.yellow {
  background: #ffc107;
}

.red {
  background: red;
}

.grey {
  background: #9e9e9e;
}
